<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <display-name>HelloWorld JAX-RS</display-name>
    <servlet>
        <servlet-name>Test-Jersey-Application</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>net.qldarch.web.service</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Test-Jersey-Application</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
</web-app>
